@brand-info: #d9edf7;

.banner-brand{
   display:inline-block;
}

.banner-links{
   padding-left:20px;
   display:inline-block;
}

.banner-links a{
   padding: 5px;
}

table {
   font-family: 'consolas';
}

.grid .grid-square{
   display:inline-block;
   text-align:center;
   vertical-align:middle;
   width:30px;
   height:30px;
   line-height:30px;
   font-size:30px;
}

