<button class="button" >Start Game</button>
<br>
<br>
   <!-- 
      <span ng-init="board.mouseCoords=[-1,-1]">{{board.mouseCoords}}</span>
    -->
<div class="game" ng-controller="BoardController as board">
   <div>{{message}}</div>
   <div class="grid">
      <div class="grid-row" ng-repeat="row in grid">
         <div ng-bind-html="getSymbol(square.symbol)" 
              ng-class="['grid-square', square.background, getSquareBackground(square)]" 
              ng-mouseenter="square.mouseOver=true"
              ng-mouseleave="square.mouseOver=false"
              ng-click="squareClicked(square)"
              ng-repeat="square in row">
         </div>
      </div>
   </div>
</div>
